* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --light-blue: #EBFFF4;
    --light-yellow: #FCFFD7;
    --skin-color: #DAD5D1;
    --light-white: #EAEAEA;
}

html,
body {
    width: 100%;
    height: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--light-white);
}

.header {
    width: 100%;
    height: auto;
    background-color: var(--skin-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

ul li {
    list-style: none;
}

.navbar ul li button {
    border-radius: 30px;
    border: none;
    font-weight: 100;
    width: 130px;
    height: 40px;
    font-size: 20px;
    background-color: var(--light-blue);
}

.name button {
    width: 300px;
    border: none;
    font-weight: 100;
    font-size: 25px;
    height: 50px;
    background-color: var(--light-yellow);
}

.connect button {
    width: 196px;
    border: none;
    font-weight: 100;
    font-size: 25px;
    height: 50px;
    background-color: var(--light-blue);
}

.navbar .hamburger {
    display: none;
}

.navbar .hamburger img {
    width: 30px;
    height: 30px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.hero-content .hero-heading {
    width: 80%;
}

.hero-content .hero-heading h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 100;
}

.hero-content .hero-subheading {
    margin-top: 30px;
    max-width: 400px;
    text-align: center;
}

.hero-content .hero-subheading h2 {
    font-weight: 100;
}

.hero-content .doted-line1 {
    border: 1px dashed black;
    height: 1px;
    width: 220px;
    margin-top: 30px;
    margin-bottom: 12px;
}

.hero-content .doted-line2 {
    border: 1px dashed black;
    height: 1px;
    width: 220px;
    margin-top: 12px;
}

.hero-content .my-work {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.hero-image {
    margin-top: -85px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.my-image {
    align-self: self-start;
}

.my-image img {
    height: 800px;
    width: auto;
}

@media (max-width: 938px) {
    .navbar .name {
        display: none;
    }

    .navbar .title {
        display: none;
    }

    .navbar .connect {
        display: none;
    }

    .navbar .hamburger {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-content .hero-heading h1 {
        font-size: 7vw;
    }

    .hero-content .hero-heading h2 {
        font-size: 4vw;
    }

    .hero-content .doted-line1 {
        width: 24vw;
        margin-left: 70px;
    }

    .hero-content .doted-line2 {
        width: 24vw;
        margin-left: 70px;
    }

    .hero-content .my-work {
        font-size: 3vw;
        margin-left: 76px;
    }

    .hero-image .my-image img {
        height: 120vw;
    }

    .hero-image {
    }
}

.about-main{
    width: 100%;
    height: auto;
    background-color: var(--light-white);
    
}
.about{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px ;
    padding-left: 30px;
    padding-right: 30px;
    
}


.about-left{
    width: 40%;
}
.about-heading{
    
}
.about-heading h3{
    font-size: 45px;
    font-weight: 100;
}
.about-sub-heading{
    margin-top: 20px;
    width: 82%;
}
.about-sub-heading p{
    font-weight: 100;
    font-size: 20px;

}


.about-right{
    width: 40%;
}
.about-dashed-line{
    width: 100%;
    border: 1px black dashed;
    margin: 15px 0;
}
.disp{
    display: flex;
    justify-content: space-between;
}
.abt-ul li{
    text-align: end;
}
.about-grid{
    padding: 180px 25px;
}
.about-grid-heading{
    margin-bottom: 25px;
}
.about-grid-heading p{
    font-size:56px;
    font-weight: 100;
}
.about-grid .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.grid-container > div{
    overflow: hidden;
}
.project-image{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.container-heading p{
    padding: 28px 0;
    font-size: 25px;
}
.container-desc p{
    padding-bottom: 20px;
    font-size: 20px;
}
@media (max-width:938px) {
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding-left: 0;
        padding-right: 0;
    }
    .about-heading h3{
        font-size: 7vw;
    }
    .about-sub-heading p{
    font-size: 4vw;
}
.about-left{
    width: 80%;
}
.about-right{
    width: 80%;
}
.about-sub-heading{
    width: 100%;
}
.disp{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.abt-ul li{
    text-align: start;
}
.about-grid{
    padding: 100px 20px;
}
.about-grid-heading p{
    font-size:8vw;
    font-weight: 100;
}
.about-grid .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
}

.brand-clarity{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: white;
    padding-top: 40px;
}
.clarity1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.clar1-head{
    width: 80%;
}
.clar1-head h1{
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    line-height: 1;
}
.clar1-subhead{
    width: 40%;
}
.clar1-subhead p{
    text-align: center;
    margin: auto;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 100;
}
.clarity2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.clar2-dashed{
    width: 100%;
    height: 1px;
    background: repeating-linear-gradient(
        to right,
        black 2px,
        black 5px,   /* dash length */
        transparent 8px,
        transparent 15px /* gap length */
    );
}
.clarity2 .clar2-head{
    width: 50%;
}
.clarity2 .clar2-head h3{
    text-align: center;
    font-weight: 100;
    font-size: 35px;

}
.clarity2 .clar2-subhead{
    width: 70%;
}
.clarity2 .clar2-subhead p{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
@media (max-width:938px) {
.brand-clarity{
    padding: 20px 10px 13px 10px;
    width: 100%;
}
.clar1-head h1{
 font-size: 7vw;
 font-weight: 200;
}
.clar1-subhead {
    width: 80%;
}
.clar1-subhead p{
    font-size: 4vw;
}
.clarity2 .clar2-head h3{
    font-size: 5vw;

}
.clarity2 .clar2-subhead{
    width: 85%;
}
.clarity2 .clar2-subhead p{
    font-size: 4vw;
}
.clar2-dashed{
    width: 90%;
    height: 1px;
    background: repeating-linear-gradient(
        to right,
        black 0px,
        black 10px,   /* dash length */
        transparent 10px,
        transparent 20px /* gap length */
    );
}
}

.imageContainer{
    background-color: white;
    width: 100%;
    padding-top: 80px;
}
.imageContainer .codingImg{
    width: 100%;
}
.imageContainer .codingImg img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.clientSays{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding: 90px 20px 10px 20px ;
    background-color: var(--light-white);
}
.clientSays-heading{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clientSays-heading h1{
    font-size: 55px;
    font-weight: 100;
}
.clientSays-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
.clientCard1{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px 0;
}
.quote h1{
    text-align: center;
    font-size: 34px;
}
.info{
    width: 80%;
}
.info p{
   text-align: center; 
   font-size: 34px;
}
.name-spec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-spec .name{
    background-color: #FCFFD7;
}
.name-spec .name p{
    font-size: 18px;
}
.name-spec .spec p{
    font-size: 18px;
}

@media (max-width:938px) {
    .clientSays-heading{
        width: 100%;
    }
    .clientSays-heading h1{
        text-align: center;
    width: 100%;
    font-size: 9vw;
    }
    .clientSays-card{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.footer{
    padding: 100px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
.branding-head{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.branding-head h1{
    text-align: center;
    font-size: 80px;
    font-weight: 100;
}
.footer-bottom{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.footer-links{
    display: flex;
    gap: 30px;
    justify-self: start;
}
.footer-links a{
    color: black;
    font-size: 18px;
}

.footer-social{
    display: flex;
    gap: 20px;
    justify-self: center;
}

.footer-right{
    
    justify-self: end;
}
.copyright{
    margin: 10px 0 ;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email{
    background: #FCFFD7;
}
.icon img{
    width: 30px;
    height: 30px;
}
@media(max-width:938px){
    .branding-head{
        width: 100%;
    }
    .branding-head h1{
        font-size: 9vw;
    }

    .footer-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-right .email{
 order:2;
    }
    .footer-right .copyright{
order: 5;
    }

    .footer-right .email{
       
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-social{
        order:1;
    }

    .footer-image{
        order:3;
    }

    .footer-links{
        order:4;
        flex-direction:column;
        align-items:center;
        gap:10px;
    }

}


